# Entornos y dependencias
.env
env/
venv/
node_modules/
__pycache__/


# Archivos de base de datos y backups
db.*
*.sqlite3
dump*
locale_backup/
locale/

test.*
test_*

migrations
update_translations.sh
manage.py

forms/
views/
utils/
urls/
accounts/
good_project/*
recipes/
!media/recipes/
!good_project/media/

static/

!good_project/static/
good_project/static/scss

good_project/static/js/*.js
!good_project/static/js/*.min.js
!good_project/static/js/quill.js

good_project/static/js/helpers/*
good_project/static/js/modules/*

!good_project/static/js/helpers/*min.js
!good_project/static/js/modules/*min.js

good_project/static/img/*.webp

!good_project/templates/
!good_project/templates/accounts/
!good_project/.gitignore
!good_project/requirements.txt
!good_project/package.json
!good_project/README.md