{% extends "general/layout.html" %}
{% load i18n %}

{% block head_title %}{% trans 'Cambia tu contraseña' %}{% endblock %}
{% block page_title %}{% trans 'Cambia tu contraseña' %}{% endblock %}

{% block content %}
<div class="auth-container">
  <form method="post">
    {% csrf_token %}
    <input 
        type="text" 
        name="username" 
        value="{{ request.user.username }}" 
        autocomplete="username" 
        style="position:absolute; left:-9999px; width:1px; height:1px; overflow:hidden;" 
        aria-hidden="true" 
        tabindex="-1" 
        readonly
    />
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    
    <button type="submit" class="btn btn__confirm">{% trans "Cambiar contraseña" %}</button>
  </form>
</div>
{% endblock %}
